@if (loading()) {
<div class="state">
    <mat-spinner diameter="42" />
    <p>Cargando detalle...</p>
</div>}
@if (error()) {
<div class="state error">
    <mat-icon>error</mat-icon>
    <p> </p>
</div>}

@if (!loading() && usuario(); as user) {
<section class="detail-layout">
    <mat-card class="image-card">
        <img [src]="getImageUrl(user.foto)" [alt]="user.nombre" />
    </mat-card>

    <section class="info"> 
        <h1>{{ user.nombre }}</h1>
        <h1>{{ user.apellido }}</h1>
        <h2>Datos del usuario:</h2>
        <p>{{ user.email }}</p>
        <p>{{ user.telefono }}</p>
        <a mat-stroked-button color="primary" [routerLink]="['/admin', 'usuario-detail', user.id]"
            class="view-icon-button">Ver ordenes del usuario<mat-icon>receipt_long</mat-icon></a><p></p>
        <span >Rol:  {{ user.role }}</span>
    </section>
</section>
}
<a mat-button routerLink="/admin/usuarios">
    <mat-icon routerLink="/admin/usuarios">arrow_back</mat-icon>
    Volver a la lista de usuarios
</a>
