 <section class="page-container">
    <header class="page-header"> <h1>Actualizar Servicio</h1></header>
    @if (loading()) {
        <p>Cargando información del servicio...</p>
    } @else {
        @if (error()) {
            <p class="error-message">
                {{ error() }}
            </p>
        }

        @if (servicio()) {
            <app-servicio-form
                [service]="servicio()"
                [categoria]="categoria()"
                [saving]="saving()"
                (guardar)="guardar($event)"
                (cancelar)="cancelar()"
            />
        }
    }
</section>